:root {

    // Black shades
    --color-black: #1a1a1a;
    --color-black2: #000000;
    --color-light-black: #222222;
    --color-light-black2: #282828;

    // Grey shades
    --color-dark-grey: #555555;
    --color-dark-grey2: #525151;
    --color-brush-grey: #525252;
    --color-grey: #808080;
    --color-grey2: #848484;
    --color-light-grey: #9a9a9a;
    --color-shadow-grey: #313131;
    --color-shadow-grey2: #383838;

    // White shades
    --color-white: #ffffff;

    // Blue shade
    --color-blue: #000080;
    --color-aqua: #47bcf5;
    --color-blue-alt: #51B1FE;
    --color-graph-blue: #087e92;
    --color-graph-light-blue: #68d2e0;

    // Green shades
    --color-green-alt: #009966;
    --color-green-alt2: #31715c;

    // Red shades
    --color-red: #fe5151;
    --color-dark-red: #ff0000;

    // Yellow shades
    --color-golden: #ffab2e;

    // Soil Plot Legend Colors
    --color-soil-plot-CL: #5d519c;
    --color-soil-plot-CLS: #46a6b7;
    --color-soil-plot-CONCRETE: #a9e1a1;
    --color-soil-plot-LIMESTONE: #f0eb96;
    --color-soil-plot-SC: #ffac5f;
    --color-soil-plot-SM: #e4593c;
    --color-soil-plot-SP: #940640;
    --color-soil-plot-GP: #a9e1a0;
    --color-soil-plot-SPG: #da3b49;
    --color-soil-plot-WOOD_CHIPS: #85163e;
    --color-soil-plot-SWG: #a00546;
    --color-soil-plot-SC-SM: #303ea0;
    --color-soil-plot-NONE: none;
}